<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :full_name , 'フルネーム(必須入力)' %>
      <%= f.text_field :full_name, class: 'form-control' %>
      
      <%= f.label :user_name, 'ユーザーネーム(必須入力)' %>
      <%= f.text_field :user_name, class: 'form-control' %>
      
      <%= f.label :web_site, 'ウェブサイト' %>
      <%= f.text_field :web_site, class: 'form-control' %>
      
      <%= f.label :introduce, '自己紹介' %>
      <%= f.text_area :introduce, class: 'form-control' %>
      
      <p class='private_info'>非公開情報</p>
      <%= f.label :email ,'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :phone ,'電話番号' %>
      <%= f.phone_field :phone, class: 'form-control' %>
      
      <%= f.label :gender ,'性別' %>
      <%= f.radio_button :gender, 1 %>
      <%= f.label :gender, '男性', {value: :male} %>
      <%= f.radio_button :gender, 2 %>
      <%= f.label :gender, '女性', {value: :female} %>
      <%= f.radio_button :gender, 3 %>
      <%= f.label :gender, 'その他', {value: :other} %>
      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
    
    <%= link_to 'アカウントを削除する', @user, method: :delete, data:{ confirm: "本当に削除しますか？" } %>

  </div>
</div>