<% provide(:title, 'Sign up') %>
<h1>Instagram</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>
    
      <%= f.label :full_name, "フルネーム" %>
      <%= f.text_field :full_name, class: 'form-control' %>
      
      <%= f.label :user_name, "ユーザーネーム" %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
    <p>アカウントをお持ちの方はこちら <%= link_to "ログインする", login_path %></p>
    <%= link_to "利用規約", term_of_service_path %>
  </div>
</div>