<% provide(:title, @user.user_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.user_name %>
        <% if current_user && current_user.id == params[:id].to_i %>
          <%= link_to edit_user_path(current_user) do %>
            <p class="edit_user_button edit_prof_button">プロフィールを編集</p>
          <% end %>
          <%= link_to "/password/#{params[:id]}" do %>
            <p class="edit_user_button">パスワードを変更</p>
          <% end %>
        <% end %>
      </h1>
    </section>
  </aside>
  <div>
    <h2 class="font_in_show name"><%= @user.full_name %></h2>
    <h2 class="font_in_show introduce">自己紹介</h2>
    <h2 class="font_in_show"><%= @user.introduce %></h2> 
  </div>
  <div class="account_details_wrap">
    <div class="account_details_box">
      <h2>投稿</h2>
      <h2><%= @user.microposts.count %></h2>
      <h2>件</h2>
    </div>
    <div class="account_details_box">
      <a href="<%= followers_user_path(@user) %>">
        フォロワー<br>
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        <br>人
      </a>
    </div>
    <div class="account_details_box">
      <a href="<%= following_user_path(@user) %>">
        フォロー中<br>
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        <br>人
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <ol class="microposts" style = "list-style-type:none;">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>