<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.user_name %></h1>
      <span><%= link_to "プロフィール画面へ", @user %></span>
      <span><b>投稿数:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user.user_name, user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
</div>