<% provide(:title, "Edit password") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(@user, url: password_edit_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>