<li id="microposts-all micropost-<%= micropost.id %>">
  <% if !@url.include?("users") %>
    <span cless="user"><%= link_to micropost.user.user_name, micropost.user %></span>
  <% end %>
  <span class="content">
    <% if micropost.picture? %>
      <%= link_to "/microposts/#{micropost.id}" do %>
        <%= image_tag micropost.picture.url, :size =>'200x200' %>
      <% end %>
    <% end %>
  </span>
</li>