<span class="content">
  <%= image_tag @micropost.picture.url %>
  <div class="info-text">
    <div class="micropost-content">
      <%= @micropost.content %>
    </div>
    <div class="timestamp">
      <%= time_ago_in_words(@micropost.created_at) %> ago
    </div>
    <div class="destroy">
      <% if current_user?(@micropost.user) %>
        <%= link_to "投稿を削除する", @micropost, method: :delete, data: {confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
  </div>
</span>

  
