// @import "bootstrap-sprockets";
// @import "bootstrap";

// /* header */
// header {
//   position: fixed;
// }

// header h1 {
//   display: inline;
// }

// .instagram:hover {
//   text-decoration: none;
// }

// header ul {
//   display: inline;
// }

// header nav {
//   display: inline;
// }

// .fa-instagram, .fa-user {
//   font-size: 30px; 
// }

// .logout {
//   float: right;
//   font-weight: bold;
// }

// /* body */
// .main {
//   padding-top: 130px;
// }

// /* forms */
// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

// /* users/edit */
// .private_info {
//   margin-top: 30px;
// }

// /* user */
// .row h2 {
//   font-size: 14px;
//   margin-top: 6px;
//   margin-bottom: 6px;
// }

// .edit_prof_button {
//   margin-top: 20px;
// }

// .edit_user_button {
//   color: #333333;
//   font-size: 14px;
//   border: solid 1px #999999;
//   width: 180px;
//   text-align: center;
//   padding-top: 2px;
//   padding-bottom: 2px;
//   display: block;
// }

// .user_info a:hover {
//   text-decoration: none;
// }

// .account_details_wrap {
//   display: flex;
//   width: 400px;
//   justify-content: space-between;
//   margin: 0px auto;
// }

// .account_details_box {
//   text-align: center;
//   width: 33%;
//   margin-top: 15px;
//   margin-bottom: 15px;
// }

// .row .name {
//   font-size: 20px;
// }

// .row .introduce {
//   display: box;
//   margin-top: 20px;
//   color: #666666;
// }

// /* sidebar */

// aside {
//   section.user_info {
//     margin-top: 20px;
//   }
//   section {
//     padding: 10px 0;
//     margin-top: 20px;
//     &:first-child {
//       border: 0;
//       padding-top: 0;
//     }
//     span {
//       display: block;
//       margin-bottom: 3px;
//       line-height: 1;
//     }
//     h1 {
//       font-size: 1.4em;
//       text-align: left;
//       letter-spacing: -1px;
//       margin-bottom: 3px;
//       margin-top: 0px;
//     }
//   }
// }

// /* microposts */

// .microposts {
//   display:flex;
//   flex-wrap:wrap;
//   width:100%;
// }

// .microposts li {
//   width:33%;
//   box-sizing: border-box;
// }

// .microposts-all .content {
//   width: 33%;
// }

// .info-text {
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// .micropost-content {
//   font-size: 15px;
//   margin-bottom: 20px;
// }

// .info-text .timestamp {
//   color: #666666;
//   margin-bottom: 10px;
// }

// /* footer */

// .footer {
//   height: 70px;
//   width: 100%;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   position: fixed;
//   bottom: 0;
//   z-index: 10;
//   background-color: white;
//   text-align: center;
// }

// .fa-plus-square {
//   font-size: 30px;
//   color: #333333;
// }

// footer h {
//   color: #333333;
// }