<% if logged_in? %>
  <footer class="footer">
    <nav>
      <div>
        <%= link_to new_micropost_path do %>
          <i class="far fa-plus-square"></i>
          <h><br>投稿</h>
        <% end %>
      </div>
    </nav>
  </footer>
<% end %>