<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to home_path, id: "logo" do %>
        <i class="fab fa-instagram"></i>
        <h1 class="instagram">Instagram Clone Site</h1>
      <% end %>
    <% else %>
      <%= link_to root_path, id: "logo" do %>
        <i class="fab fa-instagram"></i>
        <h1 class="instagram">Instagram Clone Site</h1>
      <% end %>
    <% end %> 
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <%= link_to @current_user do %>
              <i class="fas fa-user"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
      <%= link_to "ログアウト", logout_path, method: :delete, class: "logout"%>
      <% end %>
    </nav>
  </div>
</header>